* {
  box-sizing: border-box;
  list-style: none;
}
.mediaSuggesBox{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 20px;

  .mediaSugges_tit{
    width: 100%;
    display: flex;
    justify-content: start;
    .mediaSugges_tit1{
      // font-size: 18px;
      font-weight: 700;

    }
    .mediaSugges_tit2{
      margin-left: 5px;

    }
  }
  .searchBox{
    width: 100%;
    display: flex;
    justify-content: left;
    line-height: 32px;
    margin-top: 20px;
    .selectBox{
      display: flex;
      justify-content: left;
      margin-left: 20px;
    }
  }
}
