.el-main {
  min-width: 1200px;
  box-sizing: border-box;
  padding: 20px;
  overflow-x: hidden;
  // background-color: var(--el-bg-color-page);
  background-color: #F7F7F7;
}
.el-footer {
  height: auto;
  padding: 0;
}
.el-backtop {
  // :deep(.el-backtop__main svg) {
    color: #ffdd00 ; /* 替换为你想要的颜色 */
  // }
}
