.swiper-box {
  height: 6.88rem;
  position: relative;
  overflow: hidden;
  margin-top: 0.5rem;
  .swiper-list {
    display: flex;
    width: 9999rem;
    height: 6.88rem;
    overflow-x: auto;
    position: absolute;
    top: 0;
    left: -9rem;
    transition: all 0.3s;
    .swiper-item {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      width: 12rem;
      height: 6.88rem;
      border-radius: 0.4rem;
      margin-right: 0.4rem;
      opacity: 0.6;
      padding: 0 0.95rem;
      background-color: #ccc;
      &:last-child{
        margin-right: 0;
      }
      &.active{
        opacity: 1;
      }
      h3{
        width: 100%;
        font-size: 0.44rem;
        font-weight: 600;
        color: #fff;
      }
      p{
        width: 4.13rem;
        font-size: 0.18rem;
        color: #fff;
        margin-top: 0.4rem;
      }
    }
  }
  .prev-btn,
  .next-btn {
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    cursor: pointer;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .next-btn{
    left: unset;
    right: 1rem;
  }
}
